@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");

@font-face {
  font-family: "Spartan";
  src: url("./assets/fonts/spartan/Spartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan Bold";
  src: url("./assets/fonts/spartan/Spartan-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight on iOS */
  -webkit-touch-callout: none; /* Disable callout on iOS */
  -webkit-user-select: none; /* Disable selection on iOS */
  -moz-user-select: none; /* Disable selection on Firefox */
  -ms-user-select: none; /* Disable selection on IE/Edge */
  user-select: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

html,
body {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  background-color: #070724;
  min-height: 100vh;
}

/* ==================== 
 HEADER
 ==================== */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6.4%;
  position: relative;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.header h1 {
  color: #fff;
  font-family: "Antonio", Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}

.menu-btn {
  display: block;
  width: 24px;
  height: 17px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("./assets/icon-hamburger.svg");
}

/* ==================== 
 NAV BAR
 ==================== */
.navbar {
  background: #070724;
  position: absolute;
  top: 69.5px;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100vh;
  padding: 1.5rem 6.4%;
  z-index: 1000;
  overflow: hidden;
  transform: translateX(1000px);
  overflow: hidden;
}

ul.navbar__desktop-menu {
  display: none;
}

.mobile-list-item {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Spartan Bold";
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 1.364px;
  text-transform: uppercase;
  padding: 1.25rem 0;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
}

.mobile-list-item__icon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 1.5625rem;
}

.chevron-icon {
  margin-left: auto;
}

/* ==================== 
 DISPLAY
 ==================== */
.display {
  display: flex;
  flex-direction: column;
  /* background: red; */
  width: 87.2%;
  max-width: 23.4375rem;
  align-items: center;
  margin: 0 auto 2.9375rem auto;
}

/* ==================== 
 INFO TABS
 ==================== */
.desktop-info__tab-section {
  display: none;
}

.mobile-info__tab-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.mobile-tab-btn {
  display: block;
  text-align: center;
  font-family: "Spartan Bold", Arial, Helvetica, sans-serif;
  font-size: 0.5625rem;
  font-weight: 700;
  letter-spacing: 1.929px;
  text-transform: uppercase;
  color: #c0c1c8;
  background: none;
  border: none;
  outline: none;
  width: 5rem;
  transition: all 0.3s ease-in-out;
}

.mobile-tab-btn.active {
  color: #fff;
  position: relative;
}

.mobile-tab-btn.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.25rem;
  top: 27px;
  left: 0;
}

.outer-flex-container {
  width: 100%;
  margin-bottom: 1.75rem;
}

/* ==================== 
 IMAGE SECTION
 ==================== */
.planet-img__mercury,
.surface-img__mercury-container {
  width: 33.9449541284%;
  margin: 5.9375rem auto 6.125rem;
}

.planet-img__venus,
.surface-img__venus-container {
  width: 47.0948012232%;
  margin: 4.625rem auto 4.75rem;
}

.planet-img__earth,
.surface-img__earth-container {
  width: 52.9051987768%;
  margin: 4rem auto 4.1875rem;
}

.planet-img__mars,
.surface-img__mars-container {
  width: 39.4495412844%;
  margin: 5.4375rem auto 5.5rem;
}

.planet-img__jupiter,
.surface-img__jupiter-container {
  width: 68.501529052%;
  margin: 2.4375rem auto 2.5625rem;
}

.planet-img__saturn,
.surface-img__saturn-container {
  width: 78.2874617737%;
  margin: 1.5rem auto;
}

.planet-img__uranus,
.surface-img__uranus-container {
  width: 53.8226299694%;
  margin: 3.9375rem auto 4.0625rem;
}

.planet-img__neptune,
.surface-img__neptune-container {
  width: 52.9051987768%;
  margin: 4rem auto 4.1875rem;
}

/* ===== SURFACE IMAGES ===== */
.surface-img__container {
  position: relative;
  margin: 0 auto;
}

.surface-img__container .planet-img {
  width: 100%;
}

.surface-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.surface-img__mercury {
  top: 77.9310344828%;
  width: 56.2068965517%;
}

.surface-img__venus {
  top: 70.25%;
  width: 40.75%;
}

.surface-img__earth {
  top: 68%;
  width: 36.2222222222%;
}

.surface-img__mars {
  top: 74.1071428571%;
  width: 48.5119047619%;
}

.surface-img__jupiter {
  top: 63.9175257732%;
  width: 28.0068728522%;
}

.surface-img__saturn {
  top: 64.8342870185%;
  width: 26.5727653609%;
}

.surface-img__uranus {
  top: 67.6855895197%;
  width: 35.5895196507%;
}

.surface-img__neptune {
  top: 68%;
  width: 36.2222222222%;
}

/* ==================== 
 INFO SECTION
 ==================== */
.info-section {
  text-align: center;
  color: #fff;
}

h2.info-section__planet-name {
  font-family: "Antonio", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p.info-section__planet-info {
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin-bottom: 2rem;
}

.wiki-link__container {
  display: inline-flex;
  align-items: center;
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1.5625rem;
  margin: 0 auto;
}

.wiki-link__container p {
  opacity: 0.5;
}

a.wiki-link {
  color: #fff;
  font-family: "Spartan Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  opacity: 0.5;
}

.wiki-link__source-icon {
  margin-left: 0.25rem;
}

/* ==================== 
 STAT SECTION
 ==================== */
.stat-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  padding: 0.5625rem 7.33944954128% 0.8125rem;
}

.stat-title {
  font-family: "Spartan Bold", Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.727px;
  opacity: 0.5;
  margin-top: 0.4375rem;
}

.stat-data {
  text-align: right;
  font-family: "Antonio", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.75px;
}

/* ============================================================ 
 MEDIA QUERIES
 ============================================================ */
/* ===== TABLET ===== */
@media (min-width: 48rem) {
  /* ==================== 
  HEADER
  ==================== */
  .header {
    flex-direction: column;
    padding: 2rem 6.77083333333% 1.6875rem;
    position: unset;
  }

  .header h1 {
    margin-bottom: 2.4375rem;
  }

  .menu-btn {
    display: none;
  }

  /* ==================== 
  NAV BAR
  ==================== */
  .navbar {
    padding: 0;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    height: unset;
    min-height: unset;
    width: 100%;
    transform: unset;
  }

  ul.navbar__mobile-menu {
    display: none;
  }

  ul.navbar__desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 48rem;
    margin: 0 auto;
  }

  .desktop-list-item {
    color: #c0c1c8;
    font-family: "Spartan Bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
    line-height: 1.5625rem; /* 227.273% */
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .desktop-list-item.active {
    color: #fff;
  }

  /* ==================== 
  DISPLAY
  ==================== */
  .display {
    width: 89.7135416667%;
    max-width: 48rem;
  }

  .mobile-info__tab-section {
    display: none;
  }

  .outer-flex-container {
    margin-bottom: 1.6875rem;
  }

  /* ==================== 
   IMAGE SECTION
   ==================== */
  .planet-img__mercury,
  .surface-img__mercury-container {
    width: 26.7053701016%;
    margin: 9.125rem auto 8.125rem;
  }

  .planet-img__venus,
  .surface-img__venus-container {
    width: 36.7198838897%;
    margin: 7rem auto 5.9375rem;
  }

  .planet-img__earth,
  .surface-img__earth-container {
    width: 41.3642960813%;
    margin: 6rem auto 4.9375rem;
  }

  .planet-img__mars,
  .surface-img__mars-container {
    width: 30.9143686502%;
    margin: 8.25rem auto 7.1875rem;
  }

  .planet-img__jupiter,
  .surface-img__jupiter-container {
    width: 53.5558780842%;
    margin: 3.375rem auto 2.3125rem;
  }

  .planet-img__saturn,
  .surface-img__saturn-container {
    width: 56.4368650218%;
    margin: 1.6875rem auto 2.7594rem;
  }

  .planet-img__uranus,
  .surface-img__uranus-container {
    width: 42.0899854862%;
    margin: 5.8125rem auto 4.8125rem;
  }

  .planet-img__neptune,
  .surface-img__neptune-container {
    width: 41.3642960813%;
    margin: 6rem auto 4.9375rem;
  }

  /* ===== SURFACE IMAGES ===== */
  .surface-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .surface-img__mercury {
    top: 77.9310344828%;
    width: 56.2068965517%;
  }

  .surface-img__venus {
    top: 70.25%;
    width: 40.75%;
  }

  .surface-img__earth {
    top: 68%;
    width: 36.2222222222%;
  }

  .surface-img__mars {
    top: 74.1071428571%;
    width: 48.5119047619%;
  }

  .surface-img__jupiter {
    top: 63.9175257732%;
    width: 28.0068728522%;
  }

  .surface-img__saturn {
    top: 64.8342870185%;
    width: 26.5727653609%;
  }

  .surface-img__uranus {
    top: 67.6855895197%;
    width: 35.5895196507%;
  }

  .surface-img__neptune {
    top: 68%;
    width: 36.2222222222%;
  }

  /* ==================== 
  INFO SECTION
  ==================== */
  .inner-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info-section {
    text-align: left;
    margin-bottom: 0;
    width: 49.2017416546%;
  }

  h2.info-section__planet-name {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .desktop-info__tab-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40.7837445573%;
  }

  .desktop-tab-btn {
    display: block;
    background-color: transparent;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-family: "Spartan Bold", Arial, Helvetica, sans-serif;
    font-size: 0.5625rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: 1.929px;
    text-align: left;
    text-transform: uppercase;
    padding: 0.5rem 0 0.4375rem 1.25rem;
  }

  .desktop-tab-btn__number {
    display: inline-block;
    margin-right: 1.0625rem;
    opacity: 0.5;
  }

  /* ==================== 
  STAT SECTION
  ==================== */
  .stat-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.59651669086%;
  }

  .stat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0 1.1875rem 0.9375rem;
    width: 23.8026124819%;
  }

  .stat-title {
    margin: 0 0 0.375rem;
  }

  .stat-data {
    text-align: left;
    font-size: 1.55rem;
    letter-spacing: -0.9px;
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 90rem) {
  /* ==================== 
  HEADER
  ==================== */
  .header {
    flex-direction: row;
    padding: 0 2.84722222222% 1.6875rem 2.22222222222%;
    position: unset;
    height: 5.3125rem;
  }

  .header h1 {
    padding-top: 0.75rem;
    margin-bottom: 0;
  }

  /* ==================== 
  NAV BAR
  ==================== */
  .navbar {
    width: 46.1805555556%;
    min-width: 41.5625rem;
  }

  .desktop-list-item {
    font-family: "Spartan Bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
    line-height: 1.5625rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    padding-top: 1.8125rem;
  }

  .desktop-list-item:hover {
    color: #fff;
  }

  .desktop-list-item.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 0;
  }

  /* ==================== 
  DISPLAY
  ==================== */
  .display {
    width: 77.0833333333%;
    max-width: 69.375rem;
  }

  .outer-flex-container {
    display: flex;
    justify-content: space-between;
    margin: 126px auto 5.4375rem auto;
  }

  .inner-flex-container {
    flex-direction: column;
    align-items: flex-start;
    width: 31.5315315315%;
  }

  /* ==================== 
   IMAGE SECTION
   ==================== */
  .image-section {
    width: 68.4684684685%;
  }

  .planet-img__mercury,
  .surface-img__mercury-container {
    width: 38.1578947368%;
    margin: 7.25rem auto;
  }

  .planet-img__venus,
  .surface-img__venus-container {
    width: 52.6315789474%;
    margin: 3.8125rem auto 0;
  }

  .planet-img__earth,
  .surface-img__earth-container {
    width: 59.2105263158%;
    margin: 2.25rem auto 0;
  }

  .planet-img__mars,
  .surface-img__mars-container {
    width: 44.2105263158%;
    margin: 5.8125rem auto 0;
  }

  .planet-img__jupiter,
  .surface-img__jupiter-container {
    width: 76.5789473684%;
    margin: -1.875rem auto 0;
  }

  .planet-img__saturn,
  .surface-img__saturn-container {
    width: 80.7118421053%;
    margin: -3.4813rem auto 0;
  }

  .planet-img__uranus,
  .surface-img__uranus-container {
    width: 60.2631578947%;
    margin: 2rem auto 0;
  }

  .planet-img__neptune,
  .surface-img__neptune-container {
    width: 59.2105263158%;
    margin: 2.25rem auto 0;
  }

  /* ===== SURFACE IMAGES ===== */
  .surface-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .surface-img__mercury {
    top: 77.9310344828%;
    width: 56.2068965517%;
  }

  .surface-img__venus {
    top: 70.25%;
    width: 40.75%;
  }

  .surface-img__earth {
    top: 68%;
    width: 36.2222222222%;
  }

  .surface-img__mars {
    top: 74.1071428571%;
    width: 48.5119047619%;
  }

  .surface-img__jupiter {
    top: 63.9175257732%;
    width: 28.0068728522%;
  }

  .surface-img__saturn {
    top: 64.8342870185%;
    width: 26.5727653609%;
  }

  .surface-img__uranus {
    top: 67.6855895197%;
    width: 35.5895196507%;
  }

  .surface-img__neptune {
    top: 68%;
    width: 36.2222222222%;
  }

  /* ==================== 
  INFO SECTION
  ==================== */
  .info-section {
    width: 100%;
    margin-bottom: 3.1875rem;
  }

  h2.info-section__planet-name {
    font-size: 5rem;
    margin-bottom: 1.4375rem;
  }

  p.info-section__planet-info {
    font-size: 0.875rem;
    line-height: 1.5625rem;
    margin-bottom: 1.5rem;
  }

  .wiki-link__container {
    font-size: 0.875rem;
    line-height: 1.5625rem;
  }

  a.wiki-link {
    transition: all 0.3s ease-in-out;
  }

  a.wiki-link:hover {
    opacity: 1;
  }

  .wiki-link__source-icon {
    margin-left: 0.5rem;
  }

  /* ==================== 
  DESKTOP TAB SECTION
  ==================== */
  .desktop-info__tab-section {
    width: 100%;
  }

  .desktop-tab-btn {
    font-size: 0.75rem;
    line-height: 1.5625rem;
    letter-spacing: 2.571px;
    padding: 0.75rem 0 0.6875rem 1.75rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .desktop-tab-btn:hover {
    background-color: rgb(216, 216, 216, 0.2);
  }

  .desktop-tab-btn__number {
    margin-right: 1.75rem;
  }

  /* ==================== 
  STAT SECTION
  ==================== */
  .stat-section {
    gap: 0.99099099099%;
  }

  .stat-container {
    padding: 1.25rem 0 1.6875rem 1.4375rem;
    width: 22.972972973%;
  }

  .stat-title {
    font-size: 0.6875rem;
    line-height: 1.5625rem;
    letter-spacing: 1px;
    margin: 0 0 0.25rem;
  }

  .stat-data {
    font-size: 2.5rem;
    letter-spacing: -1.5px;
  }
}

/* ============================================================ 
 ANIMATIONS
 ============================================================ */
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
